<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="details-container">
  <div *ngIf="house" class="main-content-wrapper">
    <div class="left-panel">
      <div class="house-info-panel">
        <h2>{{ house.name }}</h2>
        <div class="details-card">
          <p><b>Adress:</b> {{ house.address }}</p>
          <p><b>Area:</b> {{ house.area }} m²</p>
        </div>
      </div>
      <div class="chart-container-pie">
        <canvas id="pieChart"></canvas>
      </div>
    </div>

    <div class="right-panel">
      <div class="device-management-panel">
        <h3>Add device</h3>
        <div class="add-device-form">
          <select [(ngModel)]="selectedDevice" class="device-select">
            <option disabled selected value="Válassz eszközt">Choose a device to add</option>
            <option *ngFor="let device of deviceOptions" [value]="device.name">{{ device.name }} ({{ device.wattage }} W)</option>
          </select>
          <button (click)="addDevice()" class="primary-button add-button" [disabled]="selectedDevice === 'Válassz eszközt'">
            Add device
          </button>
        </div>
        <div class="device-list-container">
          <h4>Your devices</h4>
          <ul class="device-list">
            <li *ngFor="let device of house.devices">
              <span>{{ device.name }} ({{ device.wattage }} W)</span>
              <label class="switch">
                <input type="checkbox" [checked]="device.active" (change)="toggleDevice(device)">
                <span class="slider"></span>
              </label>
            </li>
          </ul>
        </div>
        <div class="usage-summary">
          <h4>Current power usage:</h4>
          <p class="usage-number">{{ currentWattage }} W</p>
          <h4>All energy consumption:</h4>
          <p class="usage-number">{{ totalEnergyKWh.toFixed(5) }} kWh</p>
          <div class="most-consuming-info">
            <h4 i18n="@@mostexpensive">The device that consumes the most energy: <span class="most-consuming-device">{{ mostConsumingDeviceName }}</span></h4>
            <p class="tips-text">
              {{ getEnergySavingTips(mostConsumingDeviceName) }}
            </p>
          </div>
        </div>
      </div>
      <div class="chart-container-bar">
        <canvas id="energyChart"></canvas>
      </div>
    </div>
  </div>

  <div *ngIf="!house" class="not-found-message">
    <p i18n="@@notfound">We cannot found the specified house.</p>
  </div>

  <div class="button-group-bottom">
    <button i18n="@@goback" (click)="goBack()" class="go-back-button">Back to main page</button>
  </div>
</div>