<div class="list-container">
  <h3>List of houses</h3>
  <table *ngIf="houses.length > 0">
    <thead>
      <tr>
        <th >name</th>
        <th >Adress</th>
        <th >Area (m²)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let house of houses" (click)="goToDetails(house)" class="clickable-row">
        <td>{{ house.name }}</td>
        <td>{{ house.address }}</td>
        <td>{{ house.area }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="houses.length === 0" class="no-houses-message">You have not added any house.</p>
</div>