<div class="list-container">
  <h3>Házak listája</h3>
  <table *ngIf="houses.length > 0">
    <thead>
      <tr>
        <th>Név</th>
        <th>Cím</th>
        <th>Alapterület (m²)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let house of houses" (click)="goToDetails(house)" class="clickable-row">
        <td>{{ house.name }}</td>
        <td>{{ house.address }}</td>
        <td>{{ house.area }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="houses.length === 0" class="no-houses-message">Még nincsenek hozzáadott házak.</p>
</div>